body{
    width: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}
ul,li{
    display: inline;
    text-decoration: none;
    color: aliceblue;
    margin: 15px;
}
.home{
    text-decoration: none;
    color: aliceblue;
}
.space1{
    margin-top: 30px;
    margin-right: 80px;
    color: rgb(250, 249, 248);
    font-size: larger;
}
.space2{
    margin-top: 25px;
    margin-left: 250px;
    color: rgb(250, 249, 248);
    font-size: xx-large;
    font-style: italic;
}
.header{
    display: flex;
    background-color: rgb(52, 220, 220);
    justify-content: space-between;
    height: 500px;
    position: relative;
}
.word1{
    font-size: 60px;
    position: absolute;
    top: 150px;
    left: 250px;
    color: rgb(250, 249, 248);
}
.word2{
    font-size: x-large;
    position: absolute;
    top: 230px;
    left: 250px;
    color: rgb(250, 249, 248);
}
.btn1{
    height: 60px;
    width: 150px;
    background-color: aliceblue;
    position: absolute;
    top: 320px;
    left: 250px;
}
.btn1:hover{
    background-color: red;
}
.dow:hover{
    color: white;
}
.dow{
    color: aqua;
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: larger;
}
.btn2{
    height: 60px;
    width: 150px;
    border: 2px solid white;
    position: absolute;
    top: 320px;
    left: 430px;
}
.btn2:hover{
    background-color: red;
    border-color: red;
}
.git{
    color: rgb(245, 250, 250);
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: large;
}
.image{
    height: 180px;
    width: 140px;
    position: absolute;
    left: 1150px;
    top: 130px;
}
.num{
    position: absolute;
    top: 390px;
    left: 250px;
    color: rgb(249, 252, 254);
}
.demo{
    color: gray;
    font-size: xx-large;
    position: absolute;
    top: 550px;
    left: 710px;
}
.main{
    display: flex;
}
.d1{
    height: 200px;
    width: 330px;
    background-color: rgb(247, 33, 104);
    position: absolute;
    top: 650px;
    left: 200px;
    bottom: 200px;
}
.w1{
    color: white;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 100px;
}
.d2{
    height: 200px;
    width: 330px;
    background-color: rgb(247, 33, 104);
    position: absolute;
    top: 650px;
    left: 600px;
    bottom: 200px;
}
.w2{
    color: white;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 110px;
}
.d3{
    height: 200px;
    width: 330px;
    background-color: rgb(247, 33, 104);
    position: absolute;
    top: 650px;
    left: 1000px;
    bottom: 200px;
}
.w3{
    color: white;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 50px;
}
.picture1{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 450px;
}
.content1{
    position: absolute;
    top: 900px;
    left: 750px;
    font-size: larger;
}
.picture2{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1100px;
    left: 450px;
}
.content2{
    position: absolute;
    top: 1100px;
    left: 750px;
    font-size: larger;
}
.picture3{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1300px;
    left: 480px;
}
.content3{
    position: absolute;
    top: 1300px;
    left: 750px;
    font-size: larger;
}
.picture4{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1500px;
    left: 440px;
}
.content4{
    position: absolute;
    top: 1500px;
    left: 750px;
    font-size: larger;
}
.picture5{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 440px;
}
.content5{
    position: absolute;
    top: 1700px;
    left: 750px;
    font-size: larger;
}
.picture6{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1900px;
    left: 440px;
}
.content6{
    position: absolute;
    top: 1900px;
    left: 750px;
    font-size: larger;
}
.sentence{
    color: aqua;
    text-align: center;
    font-size: 30px;
    margin-top: 1700px;
}
.line{
    font-size: large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.footer{
    display: flex;
    height: 80px;
    width: 1520px;
    background-color: rgb(219, 221, 221);
}
.dharvi{
    margin-top: 30px;
    margin-left: 700px;
    color: rgb(31, 174, 174);
    font-size: 20px;
}
.bird{
    height: 30px;
    width: 30px;
    margin-top: 25px;
    margin-left: 10px;
}
hr{
    width: 75%;
    position: absolute;
    left: 200px;
    top: 2100px;
}
